body{
    background-color: #ffffff;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    color: black;
}
#headimg{
    text-align: center;
    background-color: white;
}
#headimg img{
    width:55%;
    height: auto;
}
#nav{
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;

}
#nav ul li{
    list-style-type: none;
    border: 3px solid black;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 20px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
#nav ul li a:hover{
    color:orange;
}
#nav ul li a{
    text-decoration: none;
    color: blue;
}
#nav ul li a:active{
    color: red;
}
#home{
    line-height: 1.5rem;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
}
#home h3{
    font-size: 30px;
    font-family: monospace;
}
#home p,#home ul,#home ol{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.9rem;
    color: #1f1f1f;
}
#home ul,#home ol{
    line-height: 2.2rem;
}